# Exclude macOS specific files
.DS_Store

# Exclude trained model and converted mask
trained_model.pth
processed_mask.tif

# Exclude specific folders
__pycache__/
data/
lightning_logs/
segmentation_logs/
output/

# Exclude xml files
*.xml

# Exclude test file (just for me testing stuff without changing the actual script)
test.pyt
